body {
  background-color: grey;
  overflow: hidden;
}

.navcontrols{
display: flex;
position: fixed;
width: 100%;
padding: 0 20px;
bottom: 0;
align-items: center;
justify-content: space-between;
z-index: 99;
}

.panel{
  display: inline-block;
}

.panel ul {
  /* display: block; */
  width: auto;
  align-items: center;
}

.panel ul li {
  display: inline-block;
  padding: 5px;
  transition: all .5s;
  opacity: .5;

}

.panel ul li img{
  width: 30px;
  height: 30px;
}

.panel ul li:hover{
  cursor: pointer;
  opacity: 1;
}

.panel ul li.active{
  opacity: 1;
  border: rgba(0, 0, 0, 0.233) solid 3px;
  border-radius: 12px;

}